.full-height {
    height: 100vh;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.footer {
    color: white;
    background-color: #343a40;
}

.sticky {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.card-img-top {
    display: block;
    object-fit: contain;
    max-height: 250px;
}

.carousel img{
    display: block;
    object-fit: contain;
    max-height: 540px;
}

.chart {
    text-align: center;
}